<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <rewrite>
      <rules><rule name="Plesk. Wordpress redirect wpConfigRule #d306dcf5-356d-4e88-8f2b-1d6526a3bcfa" stopProcessing="true"><match url="^wp-config.php$" ignoreCase="false"/><action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden"/></rule>
			<rule name="WordPress: http://sabatinices.com.br" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
